
@media only screen and (max-width: 2000px) {
  body {
    background-color: rgb(243, 244, 245);
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 80px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
    list-style-type: none; 
    padding: 0;

    transition: transform 1s;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer; 
  }
}

.alphabet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 10rem;
    box-shadow: 0 6px 15px rgb(187, 186, 186);
    height: max-content;
    grid-gap: 10px;
}

.alphabet-card img {
    margin: 20px;
    justify-content: center;
    width: 77%;
} 

.card__face--back p {
   margin-top: 4.5em;
    font-size: x-large;
    width: 100%;
    height: 20px;
} 

#speaker-butt{
  width: 30%;
  pointer-events:all;
} 

.alphabet-card{
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.alphabet-card.flip {
  transform: rotateY(180deg);
}

.card__face {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  /* font-size: 40px; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back {
  position: absolute;
  transform: rotateY(180deg);
}

.card__face--back #speaker-butt{
  width: 3rem;
}

.button {
   font-size: 1em;
   padding-left: 83em;
   padding-top: 4rem;
   width: 10%;
  }
  
#nextPageButt {
  box-sizing: border-box;
  box-shadow: 0 6px 15px rgb(199, 198, 198);
  width: 8rem;
  height: 2rem;
  border-radius: 0.12em;
  color:#FFFFFF
}

#nextPageButt a {
  text-decoration: none;
  color: black;
}

.disabled {
  pointer-events: none;
}
