
.title-container {
  margin-top: 2em;
  position: absolute;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 0.4em;
  font-size: 30px;
  font-family: 'Noto Sans JP', sans-serif;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 80px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
  list-style-type: none; 
  padding: 0;
  
  transition: transform 1s;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  cursor: pointer; 
}

.alphabet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 10rem;
  box-shadow: 0 6px 15px rgb(187, 186, 186);
  height: max-content;
  grid-gap: 10px;
}

.alphabet-card img {
  margin: 20px;
  justify-content: center;
  width: 77%;
} 

.card__face--back p {
  margin-top: 4.5em;
  font-size: x-large;
  width: 100%;
  height: 20px;
} 

#speaker-butt{
  width: 30%;
  pointer-events:all;
} 

.alphabet-card{
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.alphabet-card.flip {
  transform: rotateY(180deg);
}

.card__face {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back {
  position: absolute;
  transform: rotateY(180deg);
}

.card__face--back #speaker-butt{
  width: 3rem;
  margin-top: 3em;
}

.button {
  padding-left: 1100px;
  padding-top: 200px;
}

#nextPageButt {
  font-family: 'Noto Sans JP', sans-serif;
  box-shadow: 0 6px 15px rgb(199, 198, 198);
  
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(5, 5, 5);
  border-radius: 0.6em;
  color: rgb(12, 12, 12);
  cursor: pointer;
  line-height: 1;
  padding:15px;
  text-transform: uppercase;
}

#nextPageButt a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 17px;
}

.disabled {
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .button {
    padding-left: 460px !important;
    padding-top: 180px !important;
  }
  #nextPageButt a {
    font-size: 14px;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(2, auto) !important;
    grid-gap:45px;
  } 
}
@media only screen and (max-width: 1050px) {
  .button {
    width: 80%;
    padding-left: 600px;
    padding-top: 180px;
  }
  #nextPageButt a {
    font-size: 14px;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap:45px;
  } 
}
